# Machine specific git configuration
[user]
    {{- if and (index . "git_name") .git_name }}
    name = {{ .git_name }}
    {{- end }}
    {{- if and (index . "git_email") .git_email }}
    email = {{ .git_email }}
    {{- end }}
    {{- if and (index . "git_signingkey") .git_signingkey }}
    signingkey = {{ .git_signingkey }}
    {{- end }}

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[commit]
  gpgsign = true

# To include specific configuration for specific directories
# [includeIf "gitdir:~/projects/FOO/"]
#   path = ~/projects/FOO/.gitconfig
