[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
[submodule ".config/nano/syntax-highlighting"]
	path = .config/nano/syntax-highlighting
	url = https://github.com/scopatz/nanorc.git
